






.button2 {
  border-color: #3498db;
  color: #ffffff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: absolute;
  left:15px;
  z-index:1000;
  float: left;
  top: 462px;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 40px;
    }



.button2:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #ffffff;
  background-color: #000000;
