

.box {
 

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlyz*/
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -761px;
  margin-top: -471px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  transform-origin: 50% 50%;
  background: #1b2b4b; /* Old browsers */
  background: linear-gradient(to bottom, #1b2b4b 0%,#8ba5c3 100%);



}





  .button {
  border-color: #3498db;
  color: #ffffff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

        font-size: 8px;
        position: absolute;
        right:13px;
        z-index:1000;
        float: right;
        top: 10px;
        font-size: 10px;
        width: 70px;
        height: 20px;


    }



.button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #ffffff;
  background-color: #000000;
}



   .button2 {
  border-color: #3498db;
  color: #ffffff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

        font-size: 8px;
        position: absolute;
        right:13px;
        z-index:1000;
        float: right;
        top: 40px;
        font-size: 10px;
        width: 70px;
        height: 20px;


    }



.button2:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #ffffff;
  background-color: #000000;
}
