
html {
    font-size: 1em;
}

body {
    color: #333;
}

button {
    cursor: pointer;
}

.wx-header {
    margin: 30px 0 0px;
}

.wx-header:before,
.wx-header:after {
    content: " ";
    display: table;
}

.wx-header [class*="col-"] {
    padding: 0;
}

.wx-content .block {
    padding-top: 0;
}

.promoter {
    float: right;
    margin: 0;
    font-size: 12px;
    padding: 8px 15px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.promoter a {
    text-decoration: underline;
}

section[role=content] {
    padding-bottom: 20px;
}

.awxb-view.awxb-view .container-fluid:first-child {
    padding: 0;
}

/* buttons */
.awxb-view.awxb-view .btn.btn-bordered {
    padding: .3rem .375rem;
}

.awxb-view.awxb-view .u-switcher .btn.btn-bordered {
    padding: .25rem .5rem .15rem;
}

/* pagination */
.awxb-view.awxb-view .pagination {
    display: block;
}

.awxb-view.awxb-view .pagination > li {
    margin-left: 3px;
}

.awxb-view.awxb-view .pagination > li:first-child {
    margin-left: 0;
}

.awxb-view.awxb-view .pagination > li > a {
    border: 0;
    padding: .25rem .625rem;
}

/* search */
#wxblox-search .awxb-component {
    margin-left: 5px;
    max-width: 500px;
}

/* primary header navigation */
.wx-content .nav-main {
    margin: 0 0 20px;
    border-bottom: 3px solid #333;
}
.wx-content .nav-main + .nav-secondary {
	margin-top: -30px;
}
.wx-content .nav-secondary {
	margin: 0 0 25px;
}

.wx-content .nav-main:after,
.wx-content .nav-main:before,
.wx-content .nav-main ul:after,
.wx-content .nav-main ul:before,
.wx-content .nav-secondary:after,
.wx-content .nav-secondary:before,
.wx-content .nav-secondary ul:after,
.wx-content .nav-secondary ul:before {
    content: " ";
	display: table;
	clear: both;
}

.wx-content .nav-main ul,
.wx-content .nav-secondary ul {
    margin: 0;
    padding: 0;
    background: transparent;
    list-style: none;
}
.wx-content .nav-main ul {
	height: 36px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.wx-content .nav-secondary ul {
	font-weight: 600;
}

.wx-content .nav-main ul li,
.wx-content .nav-secondary ul li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    background: transparent;
}

.wx-content .nav-main ul li a {
    display: block;
    position: relative;
    height: 100%;
    margin-top: 0;
    padding: 10px 10px 6px;
    font-size: 12px;
    outline: 0;
    color: #777;
    text-decoration: none;
}

.wx-content .nav-main ul li a:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.wx-content .nav-main ul li a:hover {
    color: #333;
}

.wx-content .nav-main ul li a.sel:before,
.wx-content .nav-main ul li a:hover:before,
.wx-content .nav-main ul li.active a:before,
.wx-content .nav-main ul li.selected a:before {
    visibility: visible;
    transform: scaleX(1);
}

.wx-content .nav-main ul li a.sel {
    color: #333;
    background: transparent;
}

.wx-content .nav-main-mobile {
    margin: 0 0 30px;
    display: none;
}

.wx-content .nav-main-mobile select {
    width: 100%;
}

.wx-content .nav-secondary ul li a {
	display: block;
    position: relative;
    height: 100%;
    margin-top: 0;
    padding: 8px 10px 6px;
    font-size: 12px;
    outline: 0;
    color: #888;
    text-decoration: none;
}
.wx-content .nav-secondary ul li a:hover {
	color: #222;
}
.wx-content .nav-secondary ul li a.sel {
	color: #0d95dd;
}

.awxb-component.awxb-component h3.section-title > span {
    font-size: 12px;
    font-weight: 600;
    padding-left: 30px;
    text-transform: uppercase;
}

/* local header */
.awxb-component.awxb-component .local-header ul.info,
.awxb-view.awxb-view .local-header ul.info {
    border-width: 2px;
}

.awxb-view.awxb-view .local-header ul.nav > li {
    font-size: .8rem;
}

.awxb-view.awxb-view .local-header ul.nav > li:before {
    bottom: -5px;
}

.awxb-component.awxb-component .local-header ul.nav > li > a,
.awxb-view.awxb-view .local-header ul.nav > li > a {
    display: inline;
    line-height:unset;
}

.awxb-component.awxb-component .local-header ul.nav > li > a:hover,
.awxb-view.awxb-view .local-header ul.nav > li > a:hover {
    background: transparent;
}

.awxb-component.awxb-component .local-header ul.nav > li > a:before,
.awxb-view.awxb-view .local-header ul.nav > li > a:before {
    bottom: -6px;
}

.awxb-component.awxb-component .local-header ul.info > li.title,
.awxb-view.awxb-view .local-header ul.info > li.title {
    font-weight: 600;
}

.awxb-component.awxb-component .local-header .meta,
.awxb-view.awxb-view .local-header .meta {
    font-size: .8rem;
}

.awxb-component.awxb-component .table-data .wx, .awxb-component.awxb-component .table-data td.wx,
.awxb-view.awxb-view .table-data .wx, .awxb-view.awxb-view .table-data td.wx {
    line-height: 1.2rem;
}

.awxb-component.awxb-component .table-calendar td.hidden,
.awxb-view.awxb-view .table-calendar td.hidden {
    display: table-cell !important;
}

/* maps */
.awxb-component.awxb-component .awxb-local.awxb-local .maps .map-container .map-overlay-timestamp,
.awxb-view.awxb-view .awxb-local.awxb-local .maps .map-container .map-overlay-timestamp {
    background-color: rgba(204, 204, 204, .6);
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.awxb-component.awxb-component .map-container .map-overlay-timestamp,
.awxb-view.awxb-view .map-container .map-overlay-timestamp {
    background-color: rgba(204, 204, 204, .6);
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
.awxb-component.awxb-component .map-related .nav-map-layers-thumbs li a p, .awxb-view.awxb-view .map-related .nav-map-layers-thumbs li a p {
	background: rgba(0, 0, 0, 0.7);
	font-weight: normal;
	margin: 0;
	text-align: left;
}
.awxb-component.awxb-component .map-related .nav-map-layers-thumbs li a:hover p, .awxb-view.awxb-view .map-related .nav-map-layers-thumbs li a:hover p {
	background: #15a8e1;
}
.awxb-view.awxb-view .map-container .legend {
    min-height: 50px;
}
.awxb-component.awxb-component section[class*="maps"] .u-switcher, .awxb-view.awxb-view section[class*="maps"] .u-switcher {
	top: auto;
	bottom: 6px;
}

/* ads */
.awxb-ad {
    padding-top: 10px;
    padding-bottom: 10px;

}

.awxb-ad ins {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.awxb-view.awxb-view .awxb-local.awxb-local > .row {
    padding-bottom: 10px;
}

/* breakpoints
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
*/
@media all and (max-width: 768px) {
    .wx-content .nav-main ul li.hidden-sm {
        display: none;
    }
    .nav > li {
        margin-bottom:10px;
    }
}

@media all and (max-width: 768px) {
    .wx-content .nav-main {
        display: none;
	}

	.wx-content .nav-secondary {
		display: block;
	}

    .wx-content .nav-main + .nav-secondary {
        margin-top: 0px;
    }

    .wx-content .nav-main-mobile {
        display: block;
    }

    .promoter {
        float: none;
        margin-top: 20px;
    }

    #wxblox-search .awxb-component {
        margin: 0 auto;
        max-width: 500px;
    }

    .wx-content .nav-main ul {
        height: auto;
    }
}





.section-header ul.nav {
    position: relative;
    padding: 0;
    margin: 0 0 0 30px;
    list-style: none;
}

.section-header ul.nav > li {

    position: relative;
    display: inline-block;
    font-size: .8rem;
}

.section-header ul.nav > li > a {
    position: relative;
    padding: 0 8px 8px;
    border-bottom: 3px solid transparent;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transform: translateZ(0);
    display: inline;
}

.section-header ul.nav > li > a:hover {
    background: transparent;
}
.section-header ul.nav > li > a:before {
    bottom: -6px;
}

